h1 {
    text-align: center;
    background-color: yellow;
    color: darkblue;
}

body {
    background: lightgreen;
    color: red
}
table, td {
    border: 1px solid black;
}
td {
    background: lightblue;
    color: darkgreen;
    padding: 5px;
}